/* ******************************************************* */
/* **************   AUTHOR: TEAM INFINITY   ************** */
/* ******************************************************* */
/** Author: Team Infinity **/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400&display=swap');

/* :root {
     
    --primary-color: #9398a0;
    --secondary-color: #577399;
    --light-color: #bdd5ea;
    --link-color: #fe5f55;
    --bg-color: #fff;
    --wave-height: 20vmin;
    --bg-color-alternate: #e5e5e5;
} --primary-color: #495867; */
:root {
    --primary-color: #000;
    --secondary-color: #333;
    --light-color: #e5e5e5;
    --link-color: #fe5f55;
    --bg-color: #fff;
    --wave-height: 15vmin;
    --bg-color-alternate: #e5e5e5;
}

/* ******************************************************* */
/* *****************   BASIC STYLING   ******************* */
/* ******************************************************* */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html, body {
    font-family:  sans-serif;
    font-size: 16px;
    color: var(--primary-color);
    margin: 0;
    padding: 0;
}
a {
    color: var(--link-color);
    text-decoration: none;
    cursor: pointer;
}
button {
    padding: 10px;
    border-radius: 8px;
    border-style: none;
    color: #fff;
    background: var(--secondary-color);
    transition: all 0.6s ease-in;
    cursor: pointer;
}
button:focus,
button:hover {
    outline: none;
    border: none;
    background: var(--link-color);
    color: white;
}

/* ******************************************************* */
/* *********************   NAVBAR   ********************** */
/* ******************************************************* */
nav {
    background: var(--primary-color);
    padding: 0 15px;
}

.menu {  
    display: flex; 
    list-style-type: none;
    margin: 0;
}
.logo {
    font-size: 20px;
    padding: 7.5px 10px 7.5px 0;
}
.item {
    padding: 10px;
}
.item a {
    color: var(--bg-color);
}
.item.nav-button {
    padding: 9px 5px;
}
.item a:hover,
.item a:hover::after {
    color: var(--link-color);
}

/** MOBILE MENU NAVBAR **/
.menu {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.menu li a:not(.nav-button) {
    display: block;
    padding: 15px 5px;
}
.toggle {
    order: 1;
    font-size: 20px;
}
.toggle a {
    color: var(--bg-color);
}
.toggle i:hover {
    color: var(--link-color);
}
.item {
    order: 2;
    width: 100%;
    text-align: center;
    display: none;
}
.item.nav-button {
    text-align: center;
    order: 3;
}
.active .item {
    display: block;
}


/* REPONSIVE DESIGN */
@media all and (min-width: 600px) {
    /**MENU NAV BAR **/
    .menu {
        justify-content: center;
        align-items: flex-start;     
        flex-wrap: nowrap;
        background: none;
        width: 90%;
        margin: auto;
    }
    .logo {
        flex: 1;
        order: 0;
    }
    .item {
        order: 1;
        position: relative;
        display: block; 
        width: auto;
    }
    .item.nav-button {
        width: auto;
        order: 1;
        display: block;
    }
    .menu li.nav-button a {
        padding: 10px 15px;
        margin: 5px 0;
    }
    .nav-button a {
        background: var(--bg-color);
        color: var(--primary-color);
        border-radius: 10px;
    }
    .nav-button a:hover {
        text-decoration: none;
        background: var(--link-color);
        color: var(--bg-color);;
    }
    .nav-button {
        order: 2;
    }
    .toggle {
        display: none;
    }
}





/* ******************************************************* */
/* *********************   FOOTER   ********************** */
/* ******************************************************* */

#footer {
    background: var(--primary-color);
}
.footer-row {  
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	font-size: 15px;
    line-height: 2em;
    margin: auto;
    width: 80%;
}
.footer-row a {
    color: var(--bg-color);
}
.footer-row ul {
	list-style: none;	
}
.footer-row a:hover {
	color: var(--link-color);
}
.footer-bar {
	background: var(--secondary-color);
	color: white;
	padding: 20px;
	font-size: 16px;
	text-align: center;
	margin: 0;
}
.footer-box {
	flex: 33%;
    padding: 20px 30px;
    justify-content: center;
    align-content: center;
	text-align: left;
    color: var(--bg-color);
}
.box h4 span {
    color: var(--light-color);
}


@media all and (max-width: 800px) {
    .footer-row {  
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        font-size: 15px;
        line-height: 1.5em;
        margin: 0 0 0 20px;
        width: 100%;
    }
    .footer-box {
        flex: 33%;
        padding: 20px 10px;
        justify-content: center;
        align-content: center;
        text-align: left;
        color: var(--bg-color);
    }
}

/* ******************************************************* */
/* *********************   FOOTER   ********************** */
/* ******************************************************* */

@media all and (max-width: 600px) {
    .footer-row {  
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        font-size: 15px;
        line-height: 1.8em;
        padding: 15px 10px;
        margin: auto;
        width: 100%;
    }
    .footer-box {
        flex: 100%;
        padding: 10px 30px;
        justify-content: center;
        align-content: center;
        text-align: center;
        color: var(--bg-color);
    }
}


/* ******************************************************* */
/* *********************   FOOTER   ********************** */
/* ******************************************************* */
main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  background: linear-gradient(115deg, #ddd 10%, #aaa 90%);
}
.container{
  max-width: 800px;
  background: #fff;
  width: 800px;
  padding: 25px 40px 10px 40px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.container .text{
  text-align: center;
  font-size: 35px;
  font-weight: 600;
  background: var(--primary-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container form{
  padding: 30px 0 0 0;
}
.container form .form-row{
  display: flex;
  margin: 32px 0;
}
form .form-row .input-data{
  width: 100%;
  height: 40px;
  margin: 0 20px;
  position: relative;
}
form .form-row .textarea{
  height: 70px;
}
.input-data input,
.textarea textarea{
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(0,0,0, 0.12);
}
.input-data input:focus ~ label, .textarea textarea:focus ~ label,
.input-data input:valid ~ label, .textarea textarea:valid ~ label{
  transform: translateY(-23px);
  font-size: 14px;
  color: var(--link-color);
  border: none;
}
.input-data input:focus, .textarea textarea:focus {
  border: none;
  outline: none;
}
.textarea textarea{
  resize: none;
  padding-top: 10px;
}
.input-data label{
  position: absolute;
  pointer-events: none;
  bottom: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
}
.textarea label{
  width: 100%;
  bottom: 40px;
  background: #fff;
}
.input-data .underline{
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
}
.input-data .underline:before{
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background:var(--link-color);
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before,
.textarea textarea:focus ~ .underline:before,
.textarea textarea:valid ~ .underline:before{
  transform: scale(1);
 
}
.but {
  text-align: center;
  margin-bottom: 20px;
}
.submit-btn .input-data{
  overflow: hidden;
  height: 45px!important;
  width: 25%!important;
}
.submit-btn .input-data .inner{
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
  transition: all 0.4s;
}
.submit-btn .input-data:hover .inner{
  left: 0;
}
.submit-btn .input-data input{
  background: none;
  border: none;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
  z-index: 2;
}
.contact-plist {
  text-align: center;
  padding: 10px 10px 20px;
}
.contact-plist a {
    color: var(--primary-color);
}
.contact-plist a:hover {
  color: var(--link-color);
}
.sub-btn {
    color: #fff;
    border: none;
    font-size: 14px;
    font-weight: 500;
    width: 30%;
    border-radius: 10px;
    cursor: pointer;
    background: var(--secondary-color);
    transition: all 0.3s ease;
	margin: auto;
	text-align: center;
}
@media (max-width: 700px) {
  .container .text{
    font-size: 30px;
  }
  .container form{
    padding: 10px 0 0 0;
  }
  .container form .form-row{
    display: block;
  }
  form .form-row .input-data{
    margin: 35px 0!important;
  }
  .submit-btn .input-data{
    width: 40%!important;
  }
}

/* LIVE CHAT */
#click{
  display: none;
}
.livechat-label{
  position: absolute;
  right: 30px;
  bottom: 20px;
  height: 55px;
  width: 55px;
  background: var(--secondary-color);
  text-align: center;
  line-height: 55px;
  border-radius: 50px;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}
.livechat-label i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.4s ease;
}
.livechat-label i.fas{
  opacity: 0;
  pointer-events: none;
}
#click:checked ~ .livechat-label i.fas{
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) rotate(180deg);
}
#click:checked ~ .livechat-label i.fab{
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) rotate(180deg);
}
.livechat-wrapper{
  position: absolute;
  right: 30px;
  bottom: 0px;
  max-width: 400px;
  background: #eee;
  border-radius: 15px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
#click:checked ~ .livechat-wrapper{
  opacity: 1;
  bottom: 85px;
  pointer-events: auto;
}
.livechat-wrapper .head-text{
  line-height: 60px;
  color: #fff;
  border-radius: 15px 15px 0 0;
  padding: 0 20px;
  font-weight: 500;
  font-size: 20px;
  background: var(--secondary-color)
}
.livechat-wrapper .livechat-chat-box{
  padding: 20px;
  width: 100%;
}
.livechat-chat-box .desc-text{
  color: var(--primary-color);
  text-align: center;
  line-height: 25px;
  font-size: 17px;
  font-weight: 500;
}
.livechat-chat-box form{
  padding: 10px 15px;
  margin: 20px 0;
  border-radius: 25px;
  border: 1px solid lightgrey;
}
.livechat-chat-box form .livechat-field{
  height: 50px;
  width: 100%;
  margin-top: 20px;
}
.livechat-chat-box form .livechat-field:last-child{
  margin-bottom: 15px;
}
form .livechat-field input,
form .livechat-field button,
form .livechat-textarea textarea{
  width: 100%;
  height: 100%;
  padding-left: 20px;
  border: 1px solid lightgrey;
  outline: none;
  border-radius: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
}
form .livechat-field input:focus,
form .livechat-textarea textarea:focus{
  border-color: var(--link-color);
}
form .livechat-field input::placeholder,
form .livechat-textarea textarea::placeholder{
  color: silver;
  transition: all 0.3s ease;
}
form .livechat-field input:focus::placeholder,
form .livechat-textarea textarea:focus::placeholder{
  color: lightgrey;
}
.livechat-chat-box form .livechat-textarea{
  height: 70px;
  width: 100%;
}
.livechat-chat-box form .livechat-textarea textarea{
  height: 100%;
  border-radius: 10px;
  resize: none;
  padding: 15px 20px;
  font-size: 16px;
}
.livechat-chat-box form .livechat-field button{
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  background: var(--secondary-color);
  transition: all 0.3s ease;
}
.livechat-chat-box form .livechat-field button:hover {
  background: var(--link-color);
}
.livechat-chat-box form .livechat-field button:active{
  transform: scale(0.97);
}
