/* ******************************************************* */
/* *********************   FOOTER   ********************** */
/* ******************************************************* */

#footer {
    background: var(--primary-color);
}
.footer-row {  
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	font-size: 15px;
    line-height: 2em;
    margin: auto;
    width: 80%;
}
.footer-row a {
    color: var(--bg-color);
}
.footer-row ul {
	list-style: none;	
}
.footer-row a:hover {
	color: var(--link-color);
}
.footer-bar {
	background: var(--secondary-color);
	color: white;
	padding: 20px;
	font-size: 16px;
	text-align: center;
	margin: 0;
}
.footer-box {
	flex: 33%;
    padding: 20px 30px;
    justify-content: center;
    align-content: center;
	text-align: left;
    color: var(--bg-color);
}
.box h4 span {
    color: var(--light-color);
}

/* ========================================================
                FEATURES PAGE
========================================================*/
.main-content{
    background-color:#fff;
    color: #000;
    font-size:15px;

}

.main-content > h3{
    color:var(--primary-color);
    text-align:center;
    padding-top:20px;
}

.feature-items-container{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content:space-around;
    margin:40px;
}

.feature-items{
    width:40%;
    padding:20px;
    margin-bottom:40px;
    border-radius: 20px;
    text-align: center;
}

.feature-items > i{
    font-size:50px;
    color: var(--link-color);
    margin-bottom:20px;
}

.all-feature-btns{
    width:20%;
    min-width: 240px;
    display:block;
    margin: 0 auto;
    padding-bottom: 2rem;
}

.feature-btn{
    padding:10px;
    border-radius:20px;
    background-color:var(--secondary-color);
    color:#fff;
    width:40%;
    outline-style:none;
    border:2px solid var(--secondary-color);
    margin-left:20px;
}

.feature-btn:hover{
    background-color:#bdd5ea;
    color:#495867;
    border:2px solid #bdd5ea;
}


/*--------------------------------------
              FAQ PAGE  
----------------------------------------*/

.faq-heading  img{
    display:block;
    margin: auto;
}

.faq-heading h3{
    font-size:30px;
    text-align:center;
    color:var(--primary-color);
}

.faq-questions{
    display:block;
    width:50%;
    margin:auto;
    cursor: pointer;
    color:#f7f7ff;
}


.answer{
    display:none;
    padding:20px;
    color:var(--primary-color);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow:2px 2px 2px 2px var(--primary-color);
}


.question-heading{
    background-color: var(--primary-color);
    padding:10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.fa-minus-circle{
    margin-left: 98%;
    display:none;
}

/*--------------------------------------
              PRIVACY AND SECURITY 
----------------------------------------*/

#sp-flex {
	display: flex;
	flex-direction: row;
	flex: 1;
	justify-content: space-evenly;
	height: 100vh;
	margin: auto;
margin-top: 50px;	
	
}
#sp-flex a{
    text-decoration: none;
    	
    }
    #sp-flex a:hover{
        color: var(--primary-color);
    }
#sp1 {
	background: var(--primary-color);
	width: 20vw;
	margin-bottom: 15px;
}
#sp1-content #profile {
	background: var(--light-color);
	padding: 10px;
	margin-bottom: 10px;
}
#sp1-content #history {
	background: var(--light-color);
	padding: 10px;
	margin-bottom: 10px;
}
#sp1-content #bookmarks {
	background: var(--light-color);
	padding: 10px;
	margin-bottom: 10px;
}
#sp1-content #logout {
	background: var(--light-color);
	padding: 10px;
	margin-bottom: 10px;
}
#sp1-image{
	background: url(../users/Kristina.jpg) no-repeat center center/cover;
	border-radius: 50%;
	margin-bottom: 50px;
	height: 200px;
	width: 50%;
	margin: 20px auto; 
}

#sp2 a, #sp3 a, #sp4 a {
line-height: 3rem;
}

@media all and (max-width: 800px) {
    .footer-row {  
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        font-size: 15px;
        line-height: 1.5em;
        margin: 0 0 0 20px;
        width: 100%;
    }
    .footer-box {
        flex: 33%;
        padding: 20px 10px;
        justify-content: center;
        align-content: center;
        text-align: left;
        color: var(--bg-color);
    }
}

@media all and (max-width: 600px) {
    .footer-row {  
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        font-size: 15px;
        line-height: 1.8em;
        padding: 15px 10px;
        margin: auto;
        width: 100%;
    }
    .footer-box {
        flex: 100%;
        padding: 10px 30px;
        justify-content: center;
        align-content: center;
        text-align: center;
        color: var(--bg-color);
    }
}

/* SIGN UP */
@media all and (max-width: 600px) {
    .signup-modal .hero-modal-form .wrapper {
        width: 280px;
    }
}