/** Author: Team Infinity **/
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

/*** Default Colors - Pick it here ***/
/*** darkblue -- primary color - #110E4C ***/
/*** yellow -- secondary color - #FAEE1C ***/
/*** skyblue -- light color - #87CEEB  ***/

:root {
    --primary-color: #110E4C;
    --secondary-color: #FAEE1C;
    --light-color: #87CEEB;
}


/** Default Styling **/
/*======================*/
html, body {
	font-family: Roboto, Tahoma, Geneva, Verdana, sans-serif;
	line-height: 1.7em;
	background: #FEFEFE;
	scroll-behavior: smooth;
	color: var(--primary-color);
}

main {
	margin: 2rem 0;
}

.hero {
	display: flex;
}

.hero-box {
	width: 50%;

}

.hero-t {
	align-self: center;
}

.hero-text {
	width: 80%;
	margin-left: auto;
	text-align: center;
}

.hero-text h1 {

}

.hero-text span {
	color: #E2D70C;
}

.hero-img img {
	width: 100%;
}


.hero-btn {
	margin-top: 3em;
}

.user-j {
	background-color: var(--secondary-color);
}

.user-img {
	width: 50%;
}

.dashboard {
	height: 50vh;
}

/*Styling for about.html*/

.heading h3{
	text-align:center;
	font-size:30px;
	margin:20px;
}

h3 span{
	color:#FAEE1C;
}

div > span{
	font-size:20px;
	display:block;
	font-weight: 700;
	padding:30px;
}

.about-items{
	display:flex;
	flex-direction: column;
	margin: auto;
	width:90%;
}

.items{
	display:flex;
	width:100%;
	justify-content: space-between;
	margin-bottom: 30px;
}

.item-1, .item-3, .item-5{
	flex-direction: row;
}

.item-2, .item-4{
	flex-direction: row-reverse;
}

.text{
	width:30%;
	padding-top:50px;
}

@media screen and (max-width:700px) {
	
	.item-1, .item-3, .item-5{
		flex-direction: column;
	}
	
	.item-2, .item-4{
		flex-direction: column;
	}

	.text{
		width:100%;
		padding-top:20px;
	}

}