/** Author: Team Infinity **/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400&display=swap');

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

/*** Default Colors - Pick it here ***/
/*** darkblue -- primary color - #110E4C ***/
/*** yellow -- secondary color - #FAEE1C ***/
/*** skyblue -- light color - #87CEEB  ***/

:root {
    --primary-color: #110E4C;
    --secondary-color: #FAEE1C;
    --light-color: #E7ECFF;
}


/** Default Styling **/
/*======================*/
html, body {
	padding: 0px;
	margin: 0px;
	font-family: 'Roboto', Tahoma, 'Geneva', Verdana, sans-serif;
	color: var(--primary-color);
}
nav {
    background: var(--primary-color);
	width: 100%;
}

a {
	text-decoration: none;
}

/** Nav Bar Defaults **/
/*======================*/

.navbar {   
	padding: 0px 14px;
	margin: auto;
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.show {
	padding-bottom: 10px;
}

.navbar li:not(:first-of-type):hover {   
	background: var(--secondary-color);
	border-radius: 10px;
	transition: all 0.8s ease;
}

.navbar .current a {
	color: var(--primary-color);
	font-weight: bold;
}

.logo {
	margin-right: auto;
}

.logo img {
 	width: 80px;
}

.current {
	background: var(--secondary-color);
	border-radius: 10px;
}

.item:not(.logo) a:hover,
.item a:hover::after {
	background: var(--secondary-color);
    color: var(--primary-color);
	transition: all 0.8s ease;
}

.section {
	display: flex;
}

.navbar li a {
    display: block;
    padding: 8px 15px;
	border-radius: 5px;
	color: white;
	transition: all 0.8s ease;
	white-space: nowrap;
}

.toggle {
    order: 1;
    font-size: 20px;
}

.item {
    order: 2;
    width: 100%;
	text-align: center;
	padding: 10px 15px;
	transition: all 0.8s ease;
	display: none;
}

.show .item {
    display: block;
}

.logo a {
	text-align: left;
}


/** Footer Defaults **/
/*======================*/
.footer-row {  
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	font-size: 18px;
	line-height: 1.5em;
}

#footer a {
	color: white;
}

#footer a:hover {
	color: var(--secondary-color);
}

.footer-bar {
	background: rgba(17,14,76,0.85);
	color: white;
	padding: 20px;
	font-size: 18px;
	text-align: center;
	margin: 0;
}

#footer ul {
	list-style: none;	
}

.box {
	flex: 100%;
	padding: 10px 30px;
	text-align: center;
	color: white;
	background: var(--primary-color);
}

/* Hero Section Styling */

.hero {
	display: flex;
	flex-direction: column-reverse;
	text-align: center;
	margin-top: 1rem;
	padding-bottom: 40px;
}

.hero-box {
	width: 95%;
}

.hero-text {
	width: 85%;
	padding: 8px 20px 20px;
	margin: 0.8rem auto 2.5rem;
}

.hero-t {
	transform: none;
	position: relative;
	background: var(--secondary-color);
	border-radius: 20px;
	padding: 1.2rem;
	margin: 0 auto;
	box-shadow: 4px 5px 6px 2px var(--primary-color);
	-webkit-animation: fadeIn 3s linear forwards;
	        animation: fadeIn 3s linear forwards;
}

/* Hero Chat Bubble */
.hero-t:before {
	content: "";
	position: absolute;
	border-left: 24px solid var(--secondary-color);
	border-right: 12px solid transparent;
	border-top: 12px solid var(--secondary-color);
	border-bottom: 20px solid transparent;
	left: 32px;
	bottom: -28px;

}

.first-text {
	margin: 0.7rem auto;
}

.hero-t p {
	padding: 20px 0;
}

.hero-t h1 {
	font-size: 48px;
	text-shadow: 4px 4px 0px var(--light-color);
	mix-blend-mode: normal;
	padding-bottom: 12px;
}

/* Fade In Animation */
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1;
    }
}

/* hero Image */
.hero-img {
	width: 50%;
	margin-left: auto;
}

/* User Journey Styling */
.user-j {
	background: var(--light-color);
	text-align: center;
	padding: 2.4rem 0;
}

.userjny {
	display: flex;
	flex-wrap: wrap;
	padding-top: 2rem;
}

.user-box {
	margin: 1rem auto;
	padding: 1rem;
	width: 80%;
	border-radius: 10px;
	background: var(--secondary-color);
	box-shadow: 4px 5px 6px 2px var(--primary-color);
}

.user-box:hover {
	background: #fff;
}

.user-img {
	width: 80%;
}

/* User Journey Buttons */
.user-btn {
	margin: 2rem;
	white-space: nowrap;
}

.signup-btn {
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	padding: 14px 20px;
	font-size: 20px;
	border-radius: 10px;
	background: var(--primary-color);
	box-shadow: 4px 5px 6px 2px var(--primary-color);
	margin: 1rem;
}

.signup-btn:hover {
	background: var(--secondary-color);
	color: var(--primary-color);
}

.login-btn {
	text-decoration: none;

	color: var(--primary-color);
	font-weight: bold;
	padding: 14px 20px;
	font-size: 20px;
	border-radius: 10px;
	background: #fff;
	box-shadow: 4px 5px 6px 2px var(--primary-color);
	margin: 1rem;
}

.login-btn:hover {
	background: var(--secondary-color);
	color: var(--primary-color);
	font-weight: bold;
}

/* FORGOT PASSWORD PAGE */
.forgot-img {
	margin-top: 2rem;
}
.forgot-form {
	width: 80%;
	margin: 2rem auto 5rem;
}

.forgot-form button {
	width: 30%;
	margin-top: 10px;
}

/*--------------------------------------------
			 Contact Us Page
--------------------------------------------- */

.contact-form-body {
	background: var(--light-color);
	padding: 2rem 0;
}

.container{
	text-align: center;
	width: 90%;/** screen width**/
	margin: 0 auto;
	overflow: hidden;
	display: block;
}

.container h2{
	letter-spacing: 2px;
	margin: 2rem 0;
}

.contact {
	display: flex;
	text-align: center;
	margin: 30px auto;
}

.phone-i{
	padding: 20px;
	background-color: var(--primary-color);
	color: var(--secondary-color);
	border-radius: 50%;
	border: 2px solid var(--secondary-color);
}

.contact i{
	font-size: 20px;
	color:#E2D70C;
}

.contact span {
	display: none;
}

.contact i:hover{
	background: var(--secondary-color);
	color: var(--primary-color);
	padding: 0.2rem;
	border-radius: 30px;
	cursor: pointer  ;
}

.form-info{
	font-size: 16px;
	font-style: italic;
	color: #110E4C;
	letter-spacing: 2px;
	margin-left:-7px;
}

.contact-input{
	padding: 10px;
	margin: 10px 0;
	border-radius: 10px;
	width: 50%;
	background-color:  white;
	color: #110E4C;
	outline: none;
	border: 2px solid #110E4C;
}

input::placeholder{
	color: #110E4C;
} 

textarea{
	padding: 20px;
	margin: 10px;
	width: 50%;
	background-color: white;
	border-radius: 10px;
	color: #110E4C;
	outline: none;
	border: 2px solid #110E4C;
}

textarea::placeholder{
	color: #110E4C;
}

.submit{
	border-radius: 10px;
	background: #110E4C;
	padding: 0.4rem 0.8rem;
	outline: none;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 2px;
	text-align: center;
	cursor: pointer;
	margin-bottom: 4%;
	border: 2px solid #E2D70C;
	color: #fff;
}

.submit:hover{
	background: #E2D70C;
	border: 2px solid #110E4C;
	color: #110E4C;
}

.contact-container {
	width: 80%;
	margin: 0 auto;
}

.contact-list {
	text-align: center;
    padding: 0;
}

.contact-list li {
	list-style: none;
	padding: 0 0.8rem;
	display: inline-block;
	font-size: 0.8rem;
}

.contact-list li span {
	display: none;
}

.contact-list li a {
	color: var(--primary-color);
}

.contact-list li a:hover {
	background: var(--primary-color);
	color: #fff;
	padding: 8px;
	border-radius: 45%;
}

.gotopbtn{
	position: fixed;
	width: 50px;
	height: 50px;
	z-index: 3;
	background:#110E4C;
	bottom: 40px;
	right: 20px;
	text-align: center;
	line-height: 50px;
	color:#E2D70C;
	font-size: 22px;
	border-radius: 100%;
	border: 2px solid var(--secondary-color)
}

/* Live Chat Styling */
.livechat-container {
	display: none;
	position: fixed;
	z-index: 2;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(17,14,76, 0.8);
}

.livechatbox{
	position: fixed;
	width: 90%;
	min-width: 290px;
	height: 500px;
	background: var(--light-color);
	padding: 15px;
	border-radius: 20px;
	right: 0;
	bottom: 100px;
}

.livechatlogs{
	padding: 7px;
	width: 100%;
	height: 400px;
	overflow-x: hidden;
	overflow-y: scroll;
}

.livechatlogs::-webkit-scrollbar {
	width: 10px;
}

.livechatlogs::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: rgba(0,0,0,.6);
}

.livechat{
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	margin-bottom: 15px;
}

.livechat .user-img {
	width: 60px;
	height: 60px;
	background: #fff;
	border-radius: 50%;
}

.livechat .user-img img{
	border-radius: 50%;
}

.livechat .livechat-msg{
	width: 70%;
	padding: 5px;
	margin: 3px 10px 0;
	color: #fff;
	font-size: 15px;
}

.friend .livechat-msg{
	background: var(--primary-color);
	border-radius: 10px 10px 10px 0px;
}

.self .livechat-msg{
	background: #787878;
	order: -1;
	border-radius: 10px 10px 0 10px;
}

.livechat-form{
	margin-top: 5px;
	display: flex;
	align-items: flex-start;
}

.livechat-form .livetext{
	background: #fff;
	width: 80%;
	height: 50px;
	border: 2px solid #110E4C;
	border-radius: 10px;
	resize: none;
	padding: 10px;
	font-size: 15px;
	
}

.livechat-form .livetext:focus{
	background: #fff;
	color: #000;
}

.livechat-form .livetext::-webkit-scrollbar {
	width: 5px;
}

.livechat-form .livetext::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: rgba(0,0,0,.6);
}

.livechat-form button{
	margin-top: 20px;
	background: #110E4C;
	padding: 5px 15px;
	font-size: 19px;
	color: #fff;
	border: none;
	border-radius: 3px;
	box-shadow: 0 3px 0 #E2D70C;
	cursor: pointer;
	-webkit-transition: background .2s ease;
	-moz-transition: background .2s ease;
	-o-transition: background .2s ease;
	transition: background .2s ease;
}

.livechat-form button:hover{
	background: #E2D70C;
	box-shadow:  0 3px 0 #110E4C;
}

/* 	--------------------------------------------------
				 Sign Up And Log In Page
----------------------------------------------------- */
.signup-page-container {
	text-align: center;
	display:flex;
	flex-direction: column;
}

.desktop-img{
	display: none;
}

.mobile-img {
	width: 80%;
	max-width: 600px;
}

.form-tab{
	display:flex;
	flex-direction: column;
	margin-bottom: 4rem;
}

.form-tab-nav{
	width: 80%;
	margin: 0 auto;
	max-width: 450px;
}

.form-tab-nav ul{
	display:flex;
	justify-content: center;
	list-style: none;
	width: 100%;
}
.form-tab-nav ul li {
	width: 100%;
}
.form-tab-nav .tablist button {
	width: 100%;
	border-style: none;
	padding: 10px;
	background-color: var(--primary-color);
	color:#fff;
	font-weight: bold;
}

.signup-tab-btn button {
	border-radius: 10px 0 0 0;
	transition: all 0.6s ease;
}

.login-tab-btn button {
	border-radius: 0 10px 0 0;
	transition: all 0.6s ease;
}

.signup-tab-btn button:hover,
.login-tab-btn button:hover{
	border: 2px solid var(--secondary-color);
}

.signup-tab-btn button:focus,
.login-tab-btn button:focus {
	background-color: var(--secondary-color);
	color: var(--primary-color);
	outline: none;
}

.form-tab-body {
	width: 80%;
	max-width: 450px;
	margin: 0 auto;
	padding: 20px 0;
	background-color: var(--light-color);
}
.form-tab-body h4 {
	padding-bottom: 20px;
}

.form-tab-body .login-form {
	display: none;
}

.sign-form input:focus {
    border: 2px solid var(--primary-color);
}

.sign-form input {
	padding: 10px;
	margin: 0 0 10px;
	border-radius: 8px;
	border-top: none;
	border-right: 2px solid var(--primary-color);
	border-left: 2px solid var(--primary-color);
	border-bottom: 2px solid var(--secondary-color);
    width: 80%;
	outline: none;
}

.signbtn {
    padding: 10px 10px;
    border-radius: 10px;
	background: var(--primary-color);
	border-bottom: 3px solid #E2D70C;
    text-align: center;
    font-size: 0.8rem;
	color: var(--light-color);
	transition: all 0.6s ease;
}

.signbtn:hover {
    color: var(--primary-color);
	background: var(--light-color);
}

.sign-form p {
	padding: 14px 16px;
	margin-bottom: 10px;
	line-height: 1rem;
	text-align: center;
	font-size: 0.8rem;
}


/* ----------------------------------------------------
				TERMS OF SERVICE PAGE
------------------------------------------------------*/
.tos{
	background-color: var(--light-color);
	padding-bottom: 4rem;
}

.tos img {
	width: 40%;
	display: block;
	margin: 0 auto;
	padding-top: 2rem;
}

.terms-container {
	margin: 0 20px;
	padding: 1rem 1.5rem 2rem;
	border: 0.5px solid;
	border-radius: 14px 0 14px 14px;
	background: #fff;
}

.terms-head {
	text-align: center;
	padding: 2rem 0 3rem;
}

.terms-container h4 {
	padding: 2rem 0 1rem;
}

.terms-container p:not(:last-of-type) {
	border-bottom: 1px solid;
	padding-bottom: 1.5rem;
}

/* -	-	-	-	-	-	----- -------------------
			CHAT APP ADMIN DASHBOARD
---------------------------------------------------*/
.show{
	display: block;
}
.admin-head {
	display: flex;
	padding: 1rem 0;
	background: var(--primary-color);
	color: #fff;
	justify-content: space-around;
	align-items: center;
}
.admin-head-img {
	width: 70px;
	height: 70px;
}
.admin-head-img img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.admin-body {
	padding: 1rem;
	margin: 0 auto;
	background-color: var(--light-color);
}
.admin-container {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}
.admin-dashboard-box {
	width: 80%;
	max-width: 350px;
	margin: 1rem auto;
	border: 1px solid;
	border-radius: 10px;
	background-color: #fff;
}
.admin-dashboard-box-body{
	display: flex;
	flex-wrap: wrap;
	padding: 20px 20px 5px;
}
.admin-dashboard-box-body .dash-icon{
	font-size: 50px;
	width: 30%;
}
.admin-dashboard-box-body h2{
	width: 68%;
	text-align: right;
	font-size: 3rem;
}
.admin-dashboard-box-body p{
	padding: 14px 0;
}
.admin-dashboard-box-foot {
	display: flex;
	justify-content: space-between;
	background-color: var(--primary-color);
	padding: 10px;
	border-radius: 0 0 10px 10px;
	cursor: pointer;
}
.admin-dashboard-box-foot a:hover{
	color: #fff;
}
.admin-dashboard-box-foot a{
	color: var(--secondary-color);
	transition: all 0.8s ease;
}

.admin-user-function {
	width: 80%;
	border: 1px solid;
	margin: 0.6rem auto;
	display: none;
	padding: 0.6rem;
	border-radius: 10px;
}

.admin-user-function p:hover,
.admin-user-function p:focus{
	background: var(--primary-color);
	color: var(--light-color);
}
.admin-dashboard-details {
	display: none;
	text-align: center;
	padding-top: 1rem;
	cursor: pointer;
	font-size: 0.8rem;
}
.admin-dashboard-details input {
	padding: 8px;
	font-size: 0.7rem;
	margin: 10px 0px;
	border: 1px solid var(--primary-color);
	border-radius: 20px;
	background-color: var(--light-color);
	transition: all 0.8s ease;
}
.admin-dashboard-details input:hover,
.admin-dashboard-details input:focus{
	outline: none;
	box-shadow: 2px 2px 3px 2px var(--primary-color);
}
.admin-dashboard-details button {
	padding: 10px 14px;
	background: var(--primary-color);
	color: #fff;
	border-style: none;
	border-radius: 18px;
	transition: all 0.8s ease;
}
.admin-dashboard-details button:focus,
.admin-dashboard-details button:hover {
	background-color: var(--light-color);
	color: var(--primary-color);
	border: 1px solid var(--primary-color);
}
.admin-dashboard-details a{
	color: var(--primary-color);
}
.admin-user-search {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 6px 10px;
}
.admin-user-search i:hover,
.admin-user-search i:focus {
	background: var(--primary-color);
	padding: 4px 10px;
	border-radius: 20px;
	color: var(--secondary-color);
	transition: all 0.8s ease;
}

.admin-users-viewmore {
	padding: 10px;
	background: var(--primary-color);
	color: var(--secondary-color);
	margin-top: 0.8rem;
}

/* Admin Dashboard Chat History */
.admin-chathistory {
	background: #fff;
	width: 90%;
	max-width: 450px;
	margin: 1rem auto;
}
.livechat-head {
	display: flex;
	justify-content: space-between;
	padding: 1rem;
	background: var(--primary-color);
	color: var(--secondary-color);
	border-radius: 10px 10px 0 0;
}
.livechat-head a{
	color: var(--secondary-color);
	cursor: pointer;
}
.livechat-head a:hover {
	color: #fff;
}
.livechat-body {
	display: none;
}
.livechat-list {
	display: flex;
	justify-content: space-around;
	padding: 10px 6px;
	cursor: pointer;
}
.livechat-list:hover {
	background-color: var(--light-color);
}
.livechat-list:not(:last-of-type) {
	border-bottom: 1px solid;
}
.livechat-img{
	height: 50px;
	width: 50px;
}
.livechat-img img{
	height: 100%;
	width: 100%;
	border-radius: 50%;
}
.livechat-msg {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.livechat-end {
	height: 20px;
	background: var(--primary-color);
}
/* Admin Activities section */
.admin-activities {
	margin: 3rem auto;
}
.admin-activities h3 {
	text-align: center;
	padding-bottom: 20px;
	font-size: 1.4rem;
}

.timeline{
	position: relative;
}

.timeline:before{
	content: "";
	width: 4px;
	height: 100%;
	background-color: var(--primary-color);
	position: absolute;
	top: 0;
}

.timeline__group{
	position: relative;
}

.timeline__group:not(:first-of-type){
	margin-top: 2rem;
}

.timeline__year{
	padding: .5rem 1.5rem;
	color: var(--secondary-color);
	background-color: var(--primary-color);
	position: absolute;
	left: 0;
	top: 0;
}

.timeline__box:before{
	content: "";
	width: 100%;
	height: 2px;
	background-color: var(--primary-color);
	position: absolute;
	left: 0;
	z-index: -1;
}

.timeline__date{
	min-width: 65px;
	width: 35%;
	position: absolute;
	left: 0;
	padding: .5rem 0.6rem;
	text-align: center;
	background-color: var(--primary-color);
	color: #fff;
}
  
.timeline__post{
	padding: 1rem 2rem;
	border-radius: 2px;
	border-left: 3px solid var(--primary-color);
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24);
	background-color: #fff;
}
.timeline:before{
	left: 0;
}

.timeline__group{
	padding-top: 40px;
}

.timeline__box{
	position: relative;
	z-index: 0;
	text-align: right;
	padding-left: 20px;
	padding-top: 50px;
	margin-top: 1rem;
}

.timeline__box:before{
	top: 90px;
}    

.timeline__date{
	top: 0;
}

/* .timeline{
	font-size: 16px;
} */

/* small devices (tablets, 576px and up)*/
@media (min-width: 576px) {
	html {
		font-size: 18px;
	}

	.contact-list li {
		padding: 0.2rem 0.8rem;
	}

	.contact-list li:hover {
		background: var(--primary-color);
		border-radius: 10px;
		border: 1px solid var(--secondary-color);
	}
	
	.contact-list li span {
		display: inline-block;
	}

	.contact-list li a:hover {
		border-radius: none;
		padding: 0;
	}

	/* Admin Dashboard Page */
	.admin-activities {
		font-size: 16px;
	}

	.timeline:before{
		left: 30px;
	}
	
	  .timeline__group{
		padding-top: 55px;
	}
	
	  .timeline__box{
		padding-left: 100px;
	}
	
	  .timeline__box:before{
		top: 50%;
		transform: translateY(-50%);  
	}  
	
	  .timeline__date{
		top: 50%;
		margin-top: -27px;
		width: 25%;
	}
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
	html {
		font-size: 22px;
	}

	/* Navbar Styling */
    .navbar {
        justify-content: center;
    }
    .logo {
        flex: 0;
    }
    .toggle {
        text-align: right;
	}
	

	/* Footer styling */
	.box {
		flex: 33%;
		padding: 30px;
	}
	
	/* Hero Section Home Page */
	.hero {
		flex-direction: row;
		padding-bottom: 0px;
		align-items: center;
	}

	.first-text {
		width: 100%;
		margin: 0 -6rem 0 0;
		padding: 20px;
	}
	
	.hero-text {
		width: 90%;
		border-radius: none;
		box-shadow: none;
		margin: 0 auto;
		transform: none;
	}

	.hero-text:hover {
		background: none;
		box-shadow: none;
	}

	.hero-t h2 {
		text-transform: none;
		font-size: 1.4rem;
		padding: 14px 0 0px;
		line-height: 38px;
	}
	
	.hero-t p {
		text-transform: none;
		padding: 30px 0;
		font-size: 1rem;
	}

	.hero-t h1 {
		text-shadow: 4px 4px 0px var(--light-color);
		mix-blend-mode: normal;
	}

	.hero-btn {
		margin-top: 2em;
	}

	.hero-img {
		width: 50%;
	}
	
	/* User Journey Section Homepage */
	.user-box {	
		width: 40%;
	}
	
	.user-img {
		width: 80%;
	}

	/* Contact Us Page */
	.contact span {
		display: flex;
		justify-content: center;
		font-size: 0.8rem;
	}

	/*  TERMS OF SERVICE PAGE */
	.terms-container {
		width: 80%;
		max-width: 900px;
		margin: 0 auto;
		border: none;
		-webkit-box-shadow: 10px 10px 16px -1px rgba(17,14,76,1);
		-moz-box-shadow: 10px 10px 16px -1px rgba(17,14,76,1);
		box-shadow: 10px 10px 16px -1px rgba(17,14,76,1);
	}

	/* Sign Up and Login Page */
	.sign-form p {
		font-size: 0.6rem;
	}

	/* Admin dashboard page */
	.admin-dashboard-box {
		width: 350px;
	}
	.admin-chathistory {
		width: 65%;
	}
	.admin-activities {
		font-size: 16px;
		width: 80%;
	}
	.timeline__box {
		padding-top: 20px;
		margin-top: 0.5rem;
	}
}



/* Large devices (desktop, 992px and up)*/
@media all and (min-width: 992px) {

	/* Desktop Nav menu */
	.section nav ul{
		margin: 0;
	}

    .navbar {    
        flex-wrap: nowrap;
		background: none;
	}
	
    .logo {
		order: 0;
		margin-right: 7rem;
	}
	
    .item {
        order: 1;
        position: relative;
        display: block; 
        width: auto;
	}
	
    .toggle {
        display: none;
	}

	/* Home Page */
	.hero-img {
		width: 38%;
	}
	
	
	/* Sign-up Form */
	.signup-page-container {
		flex-direction: row;
		align-items: center;
		justify-items: center;
	}

	.desktop-img{
		display: block;
		width: 100%;
	}

	.mobile-img{
		display: none;
	}

	.form-img{
		width: 50%;
	}

	.form-tab{
		margin: 4rem 0;
	}

	/* Admin Dashboard*/
	.admin-body{
		display: flex;
		flex-wrap: wrap;
	}
	.admin-container {
		width: 80%;
		margin: 2rem auto 1rem;
	}
	.admin-chathistory {
		margin: 3rem 0.5rem;
		width: 40%;
		font-size: 16px;
		height: 500px;
	}
	.admin-activities {
		width: 50%;
		font-size: 18px;
	}
	.timeline__box {
		padding-top: 20px;
		margin-top: 0.5rem;
	}
	.livechat-body {
		display: block;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }