/** Author: Team Infinity **/
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

/*** Default Colors - Pick it here ***/
/*** darkblue -- primary color - #110E4C ***/
/*** yellow -- secondary color - #FAEE1C ***/
/*** skyblue -- light color - #87CEEB  ***/

:root {
    --primary-color: #110E4C;
    --secondary-color: #FAEE1C;
    --light-color: #E7ECFF;
}


/** Default Styling **/
/*======================*/
html, body {
body{
	padding: 0px;
	margin: 0px;
	font-family: Roboto, Tahoma, Geneva, Verdana, sans-serif;
}

main {
	margin: 2rem 0 0;
}

/* Hero Section Styling */

.hero {
	display: flex;
	flex-direction: column-reverse;
	text-align: center;
	padding-bottom: 40px;
}

.hero-box {
	width: 100%;
}

.hero-text {
	width: 85%;
	padding: 20px 20px;
	margin: 2rem auto 4rem;
}

.hero-t {
	transform: none;
	position: relative;
	background: var(--secondary-color);
	border-radius: 20px;
	padding: 1.2rem;
	margin: 0 auto;
	box-shadow: 4px 5px 6px 2px var(--primary-color);
	-webkit-animation: fadeIn 3s linear forwards;
	        animation: fadeIn 3s linear forwards;
}

/* Hero Chat Bubble */
.hero-t:before {
	content: "";
	position: absolute;
	border-left: 24px solid var(--secondary-color);
	border-right: 12px solid transparent;
	border-top: 12px solid var(--secondary-color);
	border-bottom: 20px solid transparent;
	left: 32px;
	bottom: -28px;

}

.hero-t h2 {
	text-transform: uppercase;
}

.first-text {
	margin: 2rem auto;
}

.hero-t p {
	text-transform: uppercase;
	padding: 20px 0;
}

.hero-t h1 {
	font-size: 48px;
	text-shadow: 4px 4px 0px var(--light-color);
	mix-blend-mode: normal;
	/* animation: fadeIn 2.5s linear forwards; */
	padding-bottom: 26px;
}

/* Fade In Animation */
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1;
    }
}

/* hero Image */
.hero-img {
	width: 80%;
	margin-left: auto;
}
.container{
	width: 90%;/** screen width**/
	height: 600px;
	margin:auto;
	overflow: hidden;
	display: block;
}

.container h2{
	text-align: center;
	color: #110E4C;
	font-size: 30px;
	letter-spacing: 2px;
	margin-bottom: 50px;
}


.contact{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 30px;
}

.contact i{
	font-size: 20px;
	padding: 0px;
	margin: 0px;
	color:#E2D70C;
}

.contact i:hover{
	border: 2px solid #000;
	border-radius: 30px;
	cursor: pointer  ;
}

.form-info{
	font-size: 16px;
	font-style: italic;
	color: #110E4C;
	letter-spacing: 2px;
	margin-left:-7px;
}

input{
	padding: 10px;
	margin: 10px;
	margin-left: 22%;
	width: 50%;
	background-color:  #110E4C;
	color: #fff;
	border: none;
	outline: none;
	border: 2px solid #E2D70C;
}

input::placeholder{
	color: #fff;
} 

textarea{
	padding: 10px;
	margin: 10px;
	margin-left: 22%;
	width: 50%;
	height: 20%;
	background-color: #110E4C;
	color: #fff;
	border: none;
	outline: none;
	border: 2px solid #E2D70C;
}

/* User Journey Styling */
.user-j {
	background: var(--light-color);
	text-align: center;
	padding: 2.4rem 0;
}

.userjny {
	display: flex;
	flex-wrap: wrap;
	padding-top: 2rem;
}

.user-box {
	margin: 1rem auto;
	padding: 1rem;
	width: 80%;
	border-radius: 10px;
	background: var(--secondary-color);
	box-shadow: 4px 5px 6px 2px var(--primary-color);
}

.user-box:hover {
	box-shadow: 4px 5px 3px 2px rgba(250,238,28,0.5);
	background: #fff;
}

.user-img {
	width: 80%;
}

/* User Journey Button */
.user-btn {
	margin: 2rem;
}

.sign-up {
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	padding: 14px 20px;
	font-size: 20px;
	border-radius: 10px;
	background: var(--primary-color);
	box-shadow: 4px 5px 6px 2px var(--primary-color);
	margin: 1rem;
}

.sign-up:hover {
	background: var(--secondary-color);
	color: #fff;
}

.login {
	text-decoration: none;
	color: var(--primary-color);
	font-weight: bold;
	padding: 14px 20px;
	font-size: 20px;
	border-radius: 10px;
	background: #fff;
	box-shadow: 4px 5px 6px 2px var(--primary-color);
	margin: 1rem;
}

.login:hover {
	background: var(--secondary-color);
	color: var(--primary-color);
	font-weight: bold;
}

textarea::placeholder{
	color: #fff;
}

.submit{
	width: 25%;
	background: #110E4C;
	padding: 4px;
	outline: none;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 2px;
	height: 33px;
	text-align: center;
	cursor: pointer;
	margin-left: 35%;
	margin-bottom: 4%;
	border: 2px solid #E2D70C;
	color: #fff;
}

.submit:hover{
	background: #E2D70C;
	border: 2px solid #110E4C;
	color: #110E4C;
	font-weight: bold;
}

/* small devices (tablets, 576px and up)*/
@media (min-width: 576px) {
	html {
		font-size: 18px;
	}
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
	html {
		font-size: 22px;
	}

	.hero {
		flex-direction: row;
		padding-bottom: 0px;
		align-items: center;
	}

	.first-text {
		width: 100%;
		margin: 0 -6rem 0 0;
		padding: 20px;
	}
	
	.hero-text {
		width: 90%;
		border-radius: none;
		box-shadow: none;
		margin: 0 auto;
		transform: none;
	}

	.hero-text:hover {
		background: none;
		box-shadow: none;
	}

	.hero-t h2 {
		text-transform: none;
		font-size: 1.4rem;
		padding: 14px 0 0px;
		line-height: 38px;
	}
	
	.hero-t p {
		text-transform: none;
		padding: 30px 0;
		font-size: 1rem;
	}

	.hero-t h1 {
		text-shadow: 4px 4px 0px var(--light-color);
		mix-blend-mode: normal;
	}

	.hero-btn {
		margin-top: 2em;
	}

	.hero-img {
		width: 60%;
	}
	
	.user-box {	
		width: 40%;
	}
	
	.user-img {
		width: 80%;
	}
}
