#chatrooms-container{
	background-color: var(--bg-color-alt);
	/* width: 60%; */
	/* overflow-y: scroll; */
	height:100%;
}

.chatrooms-title-bar{
	background-color: var(--bg-color-alt);
	color: var(--primary-color);
	display:flex;
	align-items: center;
	justify-content: space-between;
	border-bottom:2px solid var(--primary-color);
	/* padding: 20px 20px; */
}

.chatrooms-title-bar h2 {
	padding-left: 20px;
}

.chatrooms-title-bar span {
	padding-right: 20px;
}

.chatrooms-title-bar span i:hover{
	font-size: 30px;
}

.chatrooms-heading{
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	border-bottom: 2px solid var(--light-color);
	cursor: pointer;
}

.chatrooms-heading > h3{
	text-align:center;
	width:50%;
	padding:10px;
	margin:0px;
	color: var(--bg-color);
}

#chatrooms-page{
	display:block;
}

.chatroom-page-body{
	overflow-y: scroll;
	height: 81%;
}
.chatrooms-items{
	background-color: #fff;
	height: 90px;
	
	margin-bottom:10px;
	box-shadow:1px 1px 1px 1px var(--primary-color);
	cursor: pointer;
	display: flex;
}

.chatrooms-items:hover{
	background-color: var(--light-color);
	border-top:2px solid var(--primary-color);
}

.chatrooms-items > span{
	width: 10%;
	margin: 25px 10px;
}
#active-btn {
	background-color: var(--secondary-color);
	color: var(--primary-color);
}
#chatrooms-btn{
	background: var(--primary-color);
    color: #fff;
}

#active-page{
	display:none;
}
